body {
font-family: "Montserrat";
  }

#title {
  background-color: #ff4c68;
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 4.5rem;
  line-height: 1.5;
  color: white;
  font-weight: bold;
}

.container-fluid {
  padding: 3% 15%;
}



/* Navigation bar  */
/* first you have to put less specific and later more specific from top to bottom bla bla */
.navbar {
  padding: 0 0 5rem 0;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar-nav {
  padding-right: 7rem;
}

.nav-item {
  padding: 0 15px 0 15px;
}

.nav-item a{
  font-size: 1.5rem;
  font-family: "Montserrat-Light";
}

.dog-image {
  width: 60%;
  height: auto;
}

.rotated {
  transform: rotate(25deg);
  overflow: hidden;
}
.button-title {
  margin-right: 1rem;
}

/* First Section */
.first-section {
  padding-top: 5rem;
}

.first-row{
  text-align: center;
}

/* .try{
  padding: 0;
  margin:0;
} */

.h3-second-section {
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
  font-weight: bold;
}

.feature-box {
  padding: 5%;
}
.p-second-section {
  color: #8f8f8f;
}

.font-picture{
  color: #ef8173;
  margin-bottom: 1rem;
}

.font-picture:hover{
  color: #ff4c68;
}

/* Feateures */
#features {
  padding: 7% 15%;
}

/* Testimonials */

#testimonials {
  text-align: center;
  background-color: #ef8173;
  color: #fff;
}

h2 {
  font-family: "Montserrat-bold";
  font-size: 4rem;
  line-height: 5rem;
  font-weight: bold;
}

.dog-image2{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* PRESS */
#press{
  background-color: #ef8173;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
