/* TODO: Refactor CSS  */


body {
  font-family: "Montserrat";
}

h1, h2, h3, h4 {
  font-family: "Montserrat-Bold";
  font-weight: bold;
}

h2 {
  font-size: 4rem;
  line-height: 5rem;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 4.5rem;
  line-height: 1.5;
  color: white;
  font-weight: bold;
}

/* Navigation bar  */
/* first you have to put less specific and later more specific from top to bottom bla bla */
#title {
  background-color: #ff4c68;
}

.navbar {
  padding: 0 0 5rem 0;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-nav {
  padding-right: 7rem;
}

.nav-item {
  padding: 0 15px 0 15px;
}

.nav-item a {
  font-size: 1.5rem;
  font-family: "Montserrat-Light";
}

.dog-image {
  width: 60%;
  height: auto;
  position: absolute;
  right: 30%;
}

.rotated {
  transform: rotate(25deg);
  overflow: hidden;
}

.button-title {
  margin-right: 1rem;
}

/* First Section */
.first-section {
  padding-top: 5rem;
  position: relative;
  /* z-index: 1; */
  background-color: white;
  width: 100%;
}

.first-row {
  text-align: center;
}

/* .try{
  padding: 0;
  margin:0;
} */
.h3-second-section {
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
  font-weight: bold;
}

.feature-box {
  padding: 5%;
}

.p-second-section {
  color: #8f8f8f;
}

.font-picture {
  color: #ef8173;
  margin-bottom: 1rem;
}

.font-picture:hover {
  color: #ff4c68;
}

/* Feateures */
#features {
  padding: 7% 15%;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8173;
  color: #fff;
}

.dog-image2 {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* PRESS */
#press {
  background-color: #ef8173;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  text-align: center;
  padding: 3% 5%;
}

.rowly {
  text-align: center;
}

.price-col {
  padding: 3% 2%;
}

/* ROW PART  */
#cta {
  background-color: #ff4c68;
  font-style: "Montserrat-black";
  text-align: center;
  color: #fff;
  padding: 7% 15%;
}

.cta-h {
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  background-color: white;
  text-align: center;
  padding: 7% 15%;
  /* padding-bottom:0; */
}

.social-icons {
  margin: 10px 20px;
}

/* MEDIA QUERRies */
@media (max-width:1000px) {
  #title {
    text-align: center;
  }

  .dog-image {
    position: static;
    margin-top: 3rem;
  }

  .rotated {
    transform: rotate(0deg);
  }
}
